body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.coins {
  background-color: #ffffff; /* Light mode background color */
  /*color: pink;*/
}

.dark .coins {
  background-color: #1f2937; /* Dark mode background color */
  color: ivory;
}

/*
.coin-details {
  background-color: #ffffff; /* Light mode background color *
}

.dark .coin-details {
  background-color: #1f2937; /* Dark mode background color *
  color: ivory;
}
*/